.all_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_2 {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: var(--white);
}
.all_3 {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--red);
}
.all_4 {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--dark-color);
}
