.all {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  background-color: pink;
}
.all_2 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgb(255, 255, 255);
}
.all_3 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgb(5, 5, 5);
}
