.title {
  text-align: center;
  color: var(--white);
  font-size: 7.1rem;
  margin: 2.5rem 0;
  font-weight: bold;
}
@media (max-width: 900px) {
  .title {
    font-size: 4.7rem;
    padding-top: 2rem;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 3.6rem;
    padding-top: 2rem;
  }
}
.title_2 {
  text-align: center;
  color: var(--white);
  font-size: 5.1rem;
  margin: 2.5rem 0;
  font-weight: bold;
}
@media (max-width: 900px) {
  .title_2 {
    font-size: 2.7rem;
    padding-top: 2rem;
  }
}
@media (max-width: 500px) {
  .title_2 {
    font-size: 1.6rem;
    padding-top: 2rem;
  }
}
.img {
  width: 100%;
  height: 100%;
}
.linkName {
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
  transition: 0.3s;
}
.linkName:hover {
  text-decoration: underline;
}
